.video {
	position: relative;
	display: inline-block;
	width: 100%;
}
	.video video {
		width: 100%;
	}
	.video .controls {
		position: absolute;
		bottom: 10px; left: 50%;
		width: 98%; margin-left: -49%;
		z-index: 100
	}

.c6-video-controls {
	height: 30px;
	background-color: black;
}
