.ir {display: none;}
.controls__group {
		position: absolute;
		width: 96.56%; height: 40px;
		bottom: 8px; left: 50%; margin: 0 0 0 -48.28%;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: moz-none;
		-ms-user-select: none;
		user-select: none;
	}
		.controls__btnPlayPause {
			position: absolute; top: 0; left: 0;
			height: 100%; width: 5%;
			background: #1c1d1f; border-radius: 3px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
			-moz-transition:background 1s; -webkit-transition:background 1s; -o-transition:background 1s; transition:background 1s;
		}
		.controls__btnPlayPause:hover {background: #313437;}

			.controls__btnPlay-icon {
				background: url(img/icon_play.png) no-repeat center center; background-size: 34%;
				display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; 
				-moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s;
			}
				.controls__btnPlay-icon:hover { opacity: 1; }

			.controls__btnPause-icon {
				background: url(img/icon_pause.png) no-repeat center center; background-size: 20%;
				display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; 
				-moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s;
			}
				.controls__btnPause-icon:hover { opacity: 1; }

		.controls__seek {
			position: absolute; top: 0; left: 50%; margin-left: -44.495%;
			height: 100%; width: 88.99%;
			background: #1c1d1f;
			border: 0; border-radius: 3px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
		}
			.controls__slider {
				height: 4px; width: 90%; margin: 17px auto;
				background: #181a1b; box-shadow: 0 1px 0 rgba(38, 40, 42, 1);
			}

			.controls__playhead {
				height: 12px; width: 12px; position: absolute; margin-top: -3px;
				margin-left: 5%;
				background: #a4a4a4; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); border-radius: 6px; cursor: pointer;
			}
		.volume__btn {
			position: absolute; top: 0; right: 0;
			height: 100%; width: 5%;
			background: #1c1d1f; border-radius: 3px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
			-moz-transition:background 1s; -webkit-transition:background 1s; -o-transition:background 1s; transition:background 1s;
		}
			.volume__btn:hover {background: #313437;}

			.volume__btnHigh-icon {
				background: url(img/volume_high.png) no-repeat center center; background-size: 30%;
				display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; 
				-moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s;
			}
				.volume__btnHigh-icon:hover { opacity: 1; }

			.volume__btnMed-icon {
				background: url(img/volume_med.png) no-repeat center center; background-size: 30%;
				display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; 
				-moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s;
			}
				.volume__btnMed-icon:hover { opacity: 1; }

			.volume__btnLow-icon {
				background: url(img/volume_low.png) no-repeat center center; background-size: 30%;
				display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; 
				-moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s;
			}
				.volume__btnLow-icon:hover { opacity: 1; }

			.volume__btnMute-icon {
				background: url(img/volume_mute.png) no-repeat center center; background-size: 30%;
				display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; 
				-moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s;
			}
				.volume__btnMute-icon:hover { opacity: 1; }

		.volume__box {
			position: relative; width: 2.87%; height: 94px; margin: -110px 1% 0 0; float: right;
			background: #1c1d1f; border-radius: 3px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
		}
			.volume__box:after {
				top: 100%; position: absolute;
				border: solid transparent; content: " "; 
				border-color: rgba(28, 29, 31, 0); border-top-color: #1c1d1f;
				border-width: 10px; left: 50%; margin-left: -10px; 
			}

			.volume__slider {
				width: 4px; height: 75%; margin: 30% auto;
				background: #181a1b;box-shadow: 0 1px 0 rgba(38, 40, 42, 1);
			}
			.volume__playhead {
				height: 12px; width: 12px; position: absolute; margin-left: -4px;
				background: #a4a4a4; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); border-radius: 6px; cursor: pointer;
			}
