<div class="controls__group">
	<div class="controls__btnPlayPause" title="Play/Pause" ng-click="handle.playPause()">
		<button class="controls__btn{{state.playing ? 'Pause' : 'Play'}}-icon"><span class="ir">{{state.playing ? 'Pause' : 'Play'}}</span></button>
	</div>

	<div class="controls__seek" ng-mouseup="handle.stopSeeking()" ng-mouseleave="handle.stopSeeking()">
		<button class="controls__btnReturn-icon" title="Return"><span class="ir">Return</span></button>
		<button class="controls__btnFullscreen-icon" title="Return"><span class="ir">Fullscreen</span></button>
		<div class="controls__slider" ng-click="handle.seekbarClick($event)">
			
			<!-- branching video example-->
			<div class="controls__scene" style="left: 20%; margin-left: -32px">
				<button class="controls__scene-btn"><span class="ir">Sympathize</span></button>
				<p class="controls__caption-bottom">Sympathize</p>
			</div>
			<div class="controls__scene" style="left: 25%; margin-left: -32.5px;">
				<button class="controls__scene-btn"><span class="ir">Save Shaun</span></button>
				<p class="controls__caption-top">Save Shaun</p>
			</div>
			<div class="controls__scene" style="left: 46%; margin-left: -40.5px;">
				<button class="controls__scene-btn"><span class="ir">Do Something</span></button>
				<p class="controls__caption-bottom">Do something</p>
			</div>
			<div class="controls__slider-past">&nbsp;</div> 

			<!-- annotation video example
			<div class="controls__annotation" style="left: 20%;">&nbsp;</div>
			<div class="controls__annotation" style="left: 23%;">&nbsp;</div>
			<div class="controls__annotation" style="left: 38%;">&nbsp;</div>
			<div class="controls__annotation" style="left: 48%;">&nbsp;</div> -->

			<div class="controls__slider-active">&nbsp;</div>
			<div class="controls__playhead" style="left: {{state.playheadPosition || 0}}%;" ng-mousedown="handle.startSeeking()">&nbsp;</div>
			<div class="controls__slider-buffer">&nbsp;</div>
		</div>

	</div>
		<div class="volume__btn" title="Volume" ng-mouseenter="handle.volume.show()" ng-mouseleave="handle.volume.hide()">
			<button class="volume__btn{{state.volume.levelTier()}}-icon" ng-click="handle.volume.muteUnmute()"><span class="ir">Mute/Unmute</span></button>
			<div class="volume__box" style="display: none;" ng-mouseenter="handle.volume.show()" ng-mouseleave="handle.volume.hide(); handle.volume.stopSeeking();" ng-mouseup="handle.volume.stopSeeking()" ng-show="state.volume.show">
			<div class="volume__slider" ng-click="handle.volume.seekbarClick($event)">
				<div class="volume__slider-active">&nbsp;</div>
				<div class="volume__playhead" style="bottom: {{state.volume.playheadPosition || 0}}%;" ng-mousedown="handle.volume.startSeeking()">&nbsp;</div>
			</div>
		</div>
		</div>
</div>
